# exportPattern("^[[:alpha:]]+")

export(
   nlsj,
   nlsgn,
   numericDeriv,
   nlsj.control
)

S3method(anova, nlsj)
S3method(coef, nlsj)
S3method(confint, nlsj)
S3method(deviance, nlsj)
S3method(df.residual, nlsj)
S3method(fitted, nlsj)
S3method(formula, nlsj)
S3method(logLik, nlsj)
# S3method(nobs, nlsj)
S3method(predict, nlsj)
S3method(print, nlsj)
S3method(print, summary.nlsj)
S3method(residuals, nlsj)
S3method(summary, nlsj)
S3method(vcov, nlsj)
S3method(weights, nlsj)

importFrom(graphics, abline, lines, par)

importFrom(grDevices, dev.flush, dev.hold)

importFrom(stats, .checkMFClasses, as.formula, coef, confint,
           deriv, deviance, df.residual,
           fitted, formula, lm,
           model.weights, na.omit, nobs,
           napredict, naprint, naresid, pf, predict, printCoefmat,
           pt, qf,
           resid, symnum,
           weights)

# importFrom("utils", "ls.str", "str")